# render.yaml
services:
  - type: web
    name: taskflow-client
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./client/Dockerfile
    dockerContext: ./client
    port: 80

  - type: web
    name: taskflow-server
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./server/Dockerfile
    dockerContext: ./server
    port: 5000
    envVars:
      - key: MONGODB_URI
        fromDatabase:
          name: taskflow-mongo
          property: connectionString
      - key: JWT_SECRET
        value: supersecretkey123

  - type: pserv
    name: taskflow-mongo
    env: docker
    image: mongo:7
    plan: free
    region: oregon