name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Client
        run: |
          docker build -t khushigupta159/taskflow-client:latest ./client
          docker push khushigupta159/taskflow-client:latest

      - name: Build & Push Server
        run: |
          docker build -t khushigupta159/taskflow-server:latest ./server
          docker push khushigupta159/taskflow-server:latest

      - name: Trigger Render Deploy
        run: |
          curl -X POST ${{ secrets.RENDER_WEBHOOK_CLIENT }}
          curl -X POST ${{ secrets.RENDER_WEBHOOK_SERVER }}